* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

html, body, #root {
  width: 100%;
  height: 100%;
}

body {
  background: linear-gradient(180deg, #0f0f1a, #0d1117);
  color: #ffffff;
  overflow-x: hidden;
}

/* Scrollbar gamer */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0d1117;
}

::-webkit-scrollbar-thumb {
  background: #00f5ff;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #00c3ff;
}